<a href="https://colab.research.google.com/github/HarshitaRudrarajuJK/ML_Assignment/blob/main/ML_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Question 1

#list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

#Sort the list and find the min and max age
#sorting the list
ages.sort()
print("Sorted list:",ages)
#min
Min=min(ages)
print("Min age:",Min)
#max
Max=max(ages)
print("Max age:",Max)

#Add the min age and the max age again to the list
ages.insert(0,Min)
ages.append(Max)
print("List after adding min and max: ",ages)

#Median age
Len=len(ages)
print("Median age:",(ages[Len//2]+ages[(Len//2)+1])/2) if (Len%2==0) else (ages[Len//2])

#Average age
print("Average age:",sum(ages)/Len)

#Range of the ages
print("Range of the ages:",Max-Min)

Sorted list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26
List after adding min and max:  [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
Median age: 24.0
Average age: 22.75
Range of the ages: 7

In [4]:
#Question 2

#Creating an empty dictionary called dog
dog=dict()
print("Empty dog dictionary: ",dog)

#Adding name, color, breed, legs, age to the dog dictionary
dog["name"]="Micky"
dog["color"]="Brown"
dog["breed"]="Poodle"
dog["legs"]=4
dog["age"]=2
print("After adding elements:\n",dog)

'''Creating a student dictionary and adding first_name, last_name, gender, 
age, marital status,skills, country, city and address as keys for the dictionary'''
student=dict()
student={"first_name":"Harshita","last_name":"Rudraraju","gender":"Female","age":23,"marital status":"Single","skills":["python","java"],"country":"US","City":"Overland Park","address":"Corbin Park"}
print("Student dictionary:\n",student)

#length of the student dictionary
print("Length of Student dictionary: ",len(student))

#value and datatype of skills
print("Value of skills: ",student["skills"])
print("Datatype of skills: ",type(student["skills"]))

#Modifying the skills values by adding skills
student["skills"].extend(["C","C++"])
print("Modified value of skills: ",student["skills"])

#dictionary keys as a list
print("List of student keys: ",list(student.keys()))

#dictionary values as a list
print("List of student values: ",list(student.values()))

Empty dog dictionary:  {}
After adding elements:
 {'name': 'Micky', 'color': 'Brown', 'breed': 'Poodle', 'legs': 4, 'age': 2}
Student dictionary:
 {'first_name': 'Harshita', 'last_name': 'Rudraraju', 'gender': 'Female', 'age': 23, 'marital status': 'Single', 'skills': ['python', 'java'], 'country': 'US', 'City': 'Overland Park', 'address': 'Corbin Park'}
Length of Student dictionary:  9
Value of skills:  ['python', 'java']
Datatype of skills:  <class 'list'>
Modified value of skills:  ['python', 'java', 'C', 'C++']
List of student keys:  ['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'City', 'address']
List of student values:  ['Harshita', 'Rudraraju', 'Female', 23, 'Single', ['python', 'java', 'C', 'C++'], 'US', 'Overland Park', 'Corbin Park']

In [5]:
#Question 3

#Creating a tuple containing names of brothers and sisters
brothers=("Aman","Akshay")
print("Brothers tuple: ",brothers)
sisters=("Srihita","nihita")
print("Sisters tuple: ",sisters)

#Joining brothers and sisters tuples into siblings
siblings=brothers+sisters
print("Siblings tuple: ",siblings)

#count of siblings
print("Count of siblings: ",len(siblings))
      
#Adding father and mother and assigning it to family_members
family_members=siblings+("Satish","Jaya")
print("Family tuple: ",family_members)

Brothers tuple:  ('Aman', 'Akshay')
Sisters tuple:  ('Srihita', 'nihita')
Siblings tuple:  ('Aman', 'Akshay', 'Srihita', 'nihita')
Count of siblings:  4
Family tuple:  ('Aman', 'Akshay', 'Srihita', 'nihita', 'Satish', 'Jaya')

In [1]:
#Question 4

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} 
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#length of the set it_companies
print("Length: ",len(it_companies))

#Adding 'Twitter' to it_companies
it_companies.add('Twitter')
print("After adding Twitter: ",it_companies)

#Inserting multiple IT companies at once to the set it_companies
it_companies.update(("Samsung","Accenture"))
print("After inserting multiple IT companies: ",it_companies)

#Removing a company from the set it_companies
it_companies.remove('Apple')
print("After removing Apple: ",it_companies)

'''difference between remove and discard is that remove method 
raises a KeyError exception when the specified item is not found in the set
but discard method does not raise an exception'''
it_companies.discard('Apple')

#Joining A and B
print("Joining A and B: ",A | B)

#A intersection B
print("A intersection B: ",A & B)

#checking if A is subset of B
print("Is A subset of B: ",A.issubset(B))

#Are A and B disjoint sets
print("Are A and B disjoint sets: ",A.isdisjoint(B))

#Joining A with B and B with A
print("Joining A with B and B with A")
print(A|B)
print(B|A)

#symmetric difference between A and B
print("Symmetric difference between A and B: ",A ^ B)

#Deleting the sets completely
del A
del B
#print(A)

#Convert the ages to a set and compare the length of the list and the set
print("Length of list: ",len(age))
print("Length of set: ",len(set(age)))
#Length of set is less than that of list as there were some duplicate elements in list that were removed when coverted to set

Length:  7
After adding Twitter:  {'Twitter', 'Apple', 'Amazon', 'Microsoft', 'IBM', 'Facebook', 'Oracle', 'Google'}
After inserting multiple IT companies:  {'Twitter', 'Apple', 'Amazon', 'Microsoft', 'Accenture', 'IBM', 'Samsung', 'Facebook', 'Oracle', 'Google'}
After removing Apple:  {'Twitter', 'Amazon', 'Microsoft', 'Accenture', 'IBM', 'Samsung', 'Facebook', 'Oracle', 'Google'}
Joining A and B:  {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B:  {19, 20, 22, 24, 25, 26}
Is A subset of B:  True
Are A and B disjoint sets:  False
Joining A with B and B with A
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B:  {27, 28}
Length of list:  8
Length of set:  5

In [2]:
#Question 5

#The radius of a circle is 30 meters
radius=30

#Calculating area of circle
_area_of_circle_=22/7*(radius**2)
print("Area of circle: ",round(_area_of_circle_,2))

#Calculating the circumference of circle
_circum_of_circle_=44/7*radius
print("Circumference of circle: ",round(_circum_of_circle_,2))

#Taking radius as user input and calculating the area
radius=int(input("Enter the value of radius:"))
_area_of_circle_=22/7*(radius**2)
print("Area of circle: ",round(_area_of_circle_,2))

Area of circle:  2828.57
Circumference of circle:  188.57
Enter the value of radius:16
Area of circle:  804.57

In [3]:
#Question 6

sentence="I am a teacher and I love to inspire and teach people"

#Count of unique words in the sentence using split and set
print("Count of unique words: ",len(set(sentence.split(" "))))

Count of unique words:  10

In [ ]:
#Question 7

#Using tab escape sequence
print("Name\t\tAge\tCountry\t\tCity\nAsabeneh\t250\tFinland\t\tHelsinki")

Name		Age	Country		City
Asabeneh	250	Finland		Helsinki

In [5]:
#Question 8

radius = 10
area = 3.14 * radius ** 2

#string formatting
print("The area of a circle with radius {} is {} meters square.".format(radius,int(area)))
print("The area of a circle with radius %d is %d meters square." % (radius,area))

The area of a circle with radius 10 is 314 meters square.
The area of a circle with radius 10 is 314 meters square.

In [6]:
#Question 9

#Write a program, which reads weights (lbs.) of N students into a list and convert these weights to kilograms in a separate list using Loop
N=int(input("Enter number of students: "))
lbs,kgs=[],[]
for i in range(N):
  lbs.append(int(input("Enter weight: ")))
  kgs.append(round(lbs[i]*0.4535,2))
print(kgs)

Enter number of students: 4
Enter weight: 158
Enter weight: 204
Enter weight: 138
Enter weight: 162
[71.65, 92.51, 62.58, 73.47]